<h1> All Contestants </h1>

<% @contestants.each do |contestant| %>
<section class="contestant-<%= contestant.id %>">
  <p><%= contestant.name %></p>
  <% contestant.projects.each do |project| %>
    <li><%= project.name %></li>
  <% end %>
</section>
<% end %>
